<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="AssemblyString" value="Helper.dll" />
    <!--<add key="TypeString" value="IocTest.WebCharHelper" />-->
    <add key="TypeString" value="IocTest.EmailHelper" />
    <!--<add key="TypeString" value="IocTest.SMSHelper" />-->
  </appSettings> 
</configuration>